<h1 class="container">Dejanos tu comentario sobre </h1>
<form id="comentarios" class="container">
        <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
    <textarea class="form-control" id="contenido" name="contenido" rows="3"></textarea>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-center pt-3">
            <button type="submit" class="btn btn-primary btn-lg mb-4">Submit</button>
        </div>
    </div>
</form>

{{#each comentarios}}
    <div class="row container ms-5">
        <div class="card container col-6"
                <div class="card-body">
                {{this.contenido}}
        </div>
        
        <div class="card container mb-3 col-3"
                <div class="card-body">
                {{this.id_usuario}}
        </div>
        <div class="card container mb-3 col-3"
                <div class="card-body">
                {{this.fecha}}
        </div>
        
    </div>
    </div>
</div>

{{/each}}


<script>

const comentarios = document.getElementById('comentarios');

comentarios.addEventListener("submit", (event) => {
	;
  
	const headers = new Headers();
	headers.append("authorization", "Bearer " + localStorage.getItem("jwt"));

	fetch("http://localhost:3000/api/comentarios", {
		method: "post",
		headers,
		body: new FormData(comentarios),
		redirect: "follow"
	})
  
  
  .then(data => {	
    console.log(data)	
		
	})
	.catch(err => {
		console.error('Error de la carga:',err);   
	})
})

</script>
